body {
    background-image: url(../images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box__menu {
    padding: 15px;
    align-items: center;
}

.box__menu > div {
    text-align: center;
    padding-bottom: 5px;
}

.box__menu > div > img:hover {
    background-color: #00ffff75;
    border-radius: 60%;
    width: 20%;
}
